DatasetBrowser {
    layout: horizontal;
}

GridHierarchyBrowser {
    dock: left;
    width: 50%;
}

GridViewer {
    dock: right;
    width: 50%;
    height: 50%;
}

ImagePlotViewer {
    dock: right;
    width: 50%;
    height: 50%;
}
